---
import '../styles/nav.css'
import config from '../../astro.config.mjs'

const sitePrefix = config.base;
---
<div class="nav-links">
  <a href={`${sitePrefix}/`}>Home</a>
  <a href={`${sitePrefix}/about`}>About</a>
  <a href={`${sitePrefix}/blog`}>Blog</a>
</div>