---
import '../styles/nav.css'
const sitePrefix = '/astro-blog-tutorial'
---
<div class="nav-links">
  <a href={`${sitePrefix}/`}>Home</a>
  <a href={`${sitePrefix}/about`}>About</a>
  <a href={`${sitePrefix}/blog`}>Blog</a>
</div>